.title {
	-fx-font-size:30px;
	-fx-text-fill:white;
}

.settingsBox {
	-fx-background-color: #212121;
	-fx-padding:15px;
}

.checkBox {
	-fx-text-fill:white;
}

.checkBox .box {
-fx-background-color: #212121;
-fx-border-color:white;
-fx-border-radius:3px; 

}

.checkBox:selected .mark {

-fx-background-color: white;

}

.checkBox:selected .box {

-fx-background-color: #212121;
}